body {
    background-color: #cc8f9b;
}

ul {
    list-style: none;
    list-style-type: none;
    padding:0;
    margin:0;
}

button {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.user-panel {
    display:flex;
    justify-content: flex-end;
}

.user-role {
    text-decoration: none;
    color: #FFF;
}

.exit-button {
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;
    padding: 8px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.menu {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    gap: 25px;
    justify-content: space-between;
    align-items: stretch;
}

.buttons-wrapper {
    background-color: #FFF7DA;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.search-field {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 22px;
    display: block;
    height: auto;
    width: 400px;
    background: url(./src/loupe.svg) no-repeat 40px 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFF7DA;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px; 
}

.buttons-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
    margin: 0;
    padding: 6px 12px;
}

.menu-button {
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0px;
}

.workspace {
    display: flex;
    height: auto;
    gap: 10px;
}

.hierarchy {
    position: relative;
    width:60%;
    height: 565px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-radius: 6px; 
    /* box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.2); */
}

.description {
    width:40%;
    height: 565px;
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-radius: 6px; 
    /* box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.2); */
}

.description-header {
    /* box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);  */
    border-radius: 4% 2% 0 0;
    background: rgba(246, 248, 250, 0.8);
}

.main-footer {
    height: 20px;
    margin-top: 15px;
}

.search {
    margin-left: auto;
    width: 300px;
}

.box {
    border-color: #d0d6dc;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.box-header {   
    background: rgba(246, 248, 250, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    /* box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);  */
    border-radius: 4% 2% 0 0;
}

.box-header h4 {
    margin: 0;
    margin-left: 8px;
    padding: 8px;
    padding-bottom: 14px;
}

.box-header p {
    margin: 0;
    margin-right: 10px;
    padding: 8px;
}

.box-row {
    display: flex;
    padding: 8px;
    margin-top: -1px;
    list-style-type: none;
    border-top-color: #d0d6dc;
    border-top-style: solid;
    border-top-width: 1px;
}

.box-row:last-child {
    border-bottom-color: #d0d6dc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.box-row img {
    margin-left: 5px;
}

.box-row p {
    margin: 0;
    padding-bottom: 4px;
    margin-left: 10px;
}

.box-row span {
    display: flex;
    gap: 8px;
    font-weight: 400;
    margin: 0;
    margin-left: auto;
    margin-right: 5px;
    margin-top: -2px;
}

.box-row:hover {
    background-color: #f6f8fa;
}

.box-container {
    overflow-y: auto; 
    height: 508px;
}

#description-header {
    padding: 18px 20px 12px 20px;
    background: rgba(246, 248, 250, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}