body {
    background-color: #FAEE9F;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    list-style-type: none;
    padding:0;
    margin:0;
}

button {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

li {
    padding: 0;
    margin :0;
}

.main-header {
    height: 100px;
    margin-bottom: 20px;
}

.user-panel {
    display:flex;
    justify-content: flex-end;
}

.change-user {
    display:flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.exit-button {
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;
    padding: 8px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.menu {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    gap: 25px;
    justify-content: space-between;
    align-items: stretch;
}

.buttons-wrapper {
    background-color: #FFF7DA;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.search-field {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 22px;
    display: block;
    height: auto;
    width: 400px;
    background: url(./src/loupe.svg) no-repeat 40px 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFF7DA;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px; 
}

.buttons-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
    margin: 0;
    padding: 6px 12px;
}

.menu-button {
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0px;
}

.workspace {
    display: flex;
    height: 600px;
    gap: 10px;
}

.hierarchy {
    width:60%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.description {
    width:40%;
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.main-footer {
    height: 20px;
    margin-top: 15px;
}